.popup__save-button {
  width: calc(100% - 36px*2);
  min-height: 50px;
  margin: 32px auto 36px;
  padding: 0;
  background-color: black;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: white;
  border-radius: 2px;
  border: none;
  outline: none;
  cursor: pointer;
}

.popup__save-button:hover {
  opacity: .8;
  transition: opacity .4s;
}

@media screen and (max-width: 560px) {
  .popup__save-button {
    margin-top: 31px;
    margin-bottom: 25px;
    width: calc(100% - 22px*2);
    min-height: 46px;
    font-size: 14px;
    line-height: 17px;
  }
}