.elements__delete {
  position: absolute;
  top: 18px;
  right: 15px;
  width: 18px;
  height: 19px;
  background-image: url(../../../images/elements__delete.svg);
  background-size: cover;
  border: none;
  cursor: pointer;
  background-color: transparent;
  outline: none;
  transition: 0.2s ease-in;

}

.elements__delete:hover {
  opacity: .6;
  transform: scale(1.1);
}