.header__button {
  margin-left: 10px;
  background-color: black;
  border: none;
  outline: none;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: white;
  cursor: pointer;
  transition: opacity .4s;
}

.header__button:hover {
  opacity: .8;
}

@media screen and (max-width: 1079px) {
  .header__button {
    margin-right: 30px;
  }
}