.popup {
  width: 100%;
  min-height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  font-family: "Inter", Arial, sans-serif;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.5s, opacity 0.5s linear;
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: rgba(1, 1, 1, .5);
  z-index: 2;
}